.Header{
  width: 100%;
  height:120px;
  background-color: rgba(255, 255, 255, 0.945);

  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
  line-height: 120px;
  position: relative;
  & .nav_icon{

    line-height: 120px;
    position: absolute;
    width:25px ;
    height:25px ;
    top: 50%;
    transform: translateY(-50%);
    right: 105px;
    opacity: 0.7;
    &:hover{
      opacity: 1;
    }
  }
  & .search{
    display: flex;
    width: 300px;
    justify-content: right;
    margin: 0 100px 0 0;
    position: relative;
    &:hover .input_search{
      width: 100%;
    }
    & .input_search{
      width: 40%;
      margin: auto 0;
      padding: 5px 30px 5px 20px;
      height: 40px;
      border-radius: 30px;
      outline: none;
      // border: none;
     transition: all ease-out .4s;

    }
   
    & .search_icon{
      line-height: 120px;
      position: absolute;
      width:25px ;
      height:25px ;
      top: 50%;
      transform: translateY(-50%);
      right: 15px;
      opacity: 0.7;
      &.fa-bars
      {
        position: absolute;
        right: -40px;
      }
      &:hover{
        opacity: 1;
      }
     
     
    }
   }
  & .img_logo{
    height: 90%;
    border-radius: 50%;
    margin: auto 0;
    & img{
      padding: 10px 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
  & .nav_link{
    display: flex;
    gap: 40px;
    & .active{
      color: rgb(89, 195, 211);
    }
    & a{
      text-decoration: none;
      color: rgb(0, 0, 0);
      opacity: 0.8;
      font-weight: bold;
      &:hover{
        color: rgb(89, 195, 211);
     
      }
    }
  }
}