.ItemPro{
    grid-area: "h1";
    width: 100%;
    & .img_pro{
        width: 100%;
        height: 250px;
        border-radius: 10px 10px 0 0;
        flex-shrink: 0;
    }
    & .title
    {
       font-size: 23px;
    }
& .des
{
  margin: 5px 0;
}
& .price
{
  color: rgb(255, 107, 22);
}
}