*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 1.2rem;
    font-family:"Trebuchet MS",Arial,sans-serif;

}
@media screen and (max-width: 600px) {
    .App .Header .nav_link{
        display: none;
    }
    .App .Header .img_logo{
        display: none;
    }
}